PORT=3001

DB_HOST=localhost
DB_PORT=3307
DB_USERNAME=bguser
DB_PASSWORD=bg_user_2026
DB_NAME=bgdefender

JWT_SECRET=super_secret_key
JWT_EXPIRES_IN=1d
FRONTEND_URL=http://localhost:3000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM=your-email@gmail.com
SMTP_SECURE=false


